/* Mobile & Tablet */

@media (max-width: 1023px) {
    :root {
        --navbar-height: 0;
        --header-height: 68px;
    }

    .hide-on-mobile-tablet {
        display: none;
    }
    
    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }

    .container {
        margin-top: calc(var(--header-height) + var(--header-sortbar-height));
        padding: 36px 12px;
    }


    .search__cart-list {
        position: fixed;
        right: 0;
        top: var(--header-height);
        width: 100%;
        padding: 0 calc((100% - 644px) / 2);
    }

    .search__cart-list::before {
        display: none;
    }

    .header__sort-bar {
        display: flex;
    }

    .content {
        padding: 0;
    }

    .home-product-item__action {
        flex-wrap: wrap;
    }

    .home-product-item__sold {
        width: 100%;
        text-align: right;
    }

}

/* Tablet */

@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }

    .search__cart {
        width: 80px;
        text-align: right;
    } 
}


/* Mobile */
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }

    .search {
        justify-content: space-between;
    } 

    .search__cart {
        width: unset;
    }

    .search .search__menu-mobile {
        display: block;
    }
    
    .pagination {
        display: none;
    }

    .search__bar-history {
        width: calc(100vw - var(--width-menu-mobile));
    }

    .search__bar-icon {
        padding: 10px 18px;
    }

}